/* reset*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.container {
  margin: 0px auto;
  padding: 0px 10px;
  width: 1000px;
  max-width: 100%;
}
img {
  width: 100%;
  display: block;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
/*header*/

.header > .container {
  background-color: orangered;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0%;
  z-index: 4;
  justify-content: space-between;
  padding: 10px;
  color: white;
  text-align: center;
  align-items: center;
  
}

.logo {
  width: 200px;
  height: 50px;
}

.ul-header {
  list-style: none;
}
li > a {
  text-decoration: none;
  color: white;
}
li.nav-items {
  display: inline;
  padding: 5px ;
  font-size: 1.3rem;
}
.nav-items.nav-icons{
  font-size: 2rem;
  padding-left: 20px;
  margin-left: 10px;
}

/*main*/
/* product card*/
.product > .container {
  display: flex;
  gap: 50px 20px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 60px;
}

.product .product-card {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 30%;
  min-height: 300px;
  position: relative;
}
.product-card .card-label {
  position: absolute;
  bottom: 130px;
  left: 0px;
  font-weight: 600;
}
.product-card .card-label.card-ecology {
  left: 40px;
}
.card-label.card-ecology.single {
  left: 0px;
}
.card-discount {
  background-color: red;
}
.card-ecology {
  background-color: green;
}
.product-card .prefer {
  position: absolute;
  top: 10px;
  right: 0px;
  background-color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 20px;
}
img {
  border-radius: 20px;
}
h2 > a {
  text-decoration: none;
  color: black;
}
h2 > a:hover {
  text-decoration: underline;
}

.brand {
  font-size: 0.8rem;
}
.product-description {
  text-transform: uppercase;
  font-weight: 300;
}
.price {
  color: red;
  font-weight: bold;
}
.price .last-price {
  text-decoration: line-through;
  color: black;
  font-weight: 200;
}
.heart {
  padding-right: 1px;
}
/*img*/

.product-card .second-img {
  display: none;
}
.product-card:hover .second-img {
  display: block;
}
.product-card:hover .first-img {
  display: none;
}
.prefer:hover .heart {
  color: red;
}
/*footer*/
.page-footer .container {
  background-color: rgb(22, 22, 22);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  color: white;
  align-items: center;
}
li.footer-items {
  display: inline;
  padding: 5px;
  font-size: 0.7rem;
}

.name-shoop {
  font-size: 0.9rem;
  padding: 5px;
}
li.footer-items > i {
  font-size: 1rem;
}
